<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head.html %}
    {% seo %}
  </head>
  <body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
   <p><strong>Description</strong>: With the prevalence of networked systems, such as social media and protein-protein interaction networks, learning from networks has become a crucial task in practice. It is well recognized that network data is sophisticated and large-scale. In this tutorial, we systematically introduce learning from networks algorithms, along with the theory and applications. After introducing the history and formally defining the problems, following the trend, we roughly categorize the learning algorithms into four classes, i.e., feature selection based, network embedding based, attributed network embedding based, and graph neural based. Theoretical analysis and real-world applications are given for each class. We conclude with open problems and recent trends.</p>
      <div class="divider line"></div>
      
<h3><font size="5"><font color="#03CFFC">Tutorial Outline</font></font></h3>
      <ol>
        <li>Motivations</li>
            <ul class="list square">
            <li>A</li>
            <li>B</li>
            </ul>
        <li>Embedding</li>
            <ul class="list square">
            <li>A</li>
            <li>B</li>
            </ul>
        <li>Feature Selection</li>
            <ul class="list square">
            <li>A</li>
            <li>B</li>
            </ul>
        <li>Graph Neural Networks</li>
            <ul class="list square">
            <li>A</li>
            <li>B</li>
            </ul>
        <li>Summary</li>
      </ol>
      
<h3><font size="5"><font color="#03CFFC">Tutors &amp; Contributors</font></font></h3>
<ul class="list square">
    <li>A</li>
    <li>B</li>
</ul>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
        <font size="-2">
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        </font>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
